.App {
  text-align: center;
  align-content: center;
}


/*Login*/
.loginSection{
  margin-top: -10px;
  background-color: #FFC75F;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction:row;
  padding-top: 4em;
  padding-bottom: 8em;
}

.loginImg{
  height: 200px;
  width: 200px;
}

.headerLogin{
  display: block;
}

.h1Login{
  font-size: xxx-large;
  color: white;
}

.textLogin {
  font-size: xx-large;
  color: white;
}

.loginFormSection, .translationFormSection{
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 6em;
}

/*Login Form*/
.loginFormInput {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction:row;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-radius: 1em;
  box-shadow:0px 0px 3px 3px lightgrey;
  margin-top: -12em;
  background-color: white;
  position: relative;
  overflow: hidden;
  padding-bottom: 3em;
}

.fieldsetLogin{
  background-color: #EFEFEF;
  align-content: center;
  text-align: justify;
  display: inline-flex;
  padding: 0.5em;
  width: 50%;
  min-width: 100%;
  border-radius: 1.5em;
  border: solid #969696;
}

#line, #keyboard{
  margin-top: 0.25em;
  margin-right: 0.15em;
  display:inline-flex;
}

#login-button {
  display: inline-block;
  color: white;
  height: 40px;
  width: 40px;
  border:1px solid #845EC2;
  background: #845EC2;
  border-radius: 50% ;
  outline: white;
}

.divBottomLogin {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  background-color: #845EC2;
  padding-bottom: 1em;
}

/*Translation*/
.formTranslation {
  margin-top: -10px;
  background-color: #FFC75F;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction:row;
  padding: 4em;
}

.fieldsetStyleTranslation{
  background-color: #EFEFEF ;
  align-content: center;
  text-align: justify;
  display: inline-flex;
  padding: 0.5em;
  width: 50%;
  min-width: 100%;
  border-radius: 1.5em;
  border: solid white;
}

.sectionTranslation{
  align-content: center;
  justify-content: center;
  display: flex;
}

.divOutputBox{
  margin-top: 2em;
  width: 70%;
  min-height: 10em;
  height: fit-content;
  justify-content: center;
  border: none;
  border-radius: 1em;
  box-shadow:0 0 3px 3px lightgrey;
  overflow: hidden;
  position: relative;
  padding-bottom: 3em;
}

.responseImg{
  height: 100px;
  width: 100px;
}

.divBottomTranslation {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2em;
  background-color: #845EC2;
  padding-bottom: 1em;
}

.bottomText{
  padding-left: 1em;
  float: left;
  color: white;
  padding-bottom: 2em;
}


/*Profile*/
.sectionProfile{
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #FFC75F;
  margin-top: -10px;
  padding: 6em;
}

.tableProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-radius: 1em;
  background-color: white;
  position: relative;
  overflow: hidden;
  padding-top: 3em;
}

.textProfile{
  background-color: #845EC2;
  position: absolute;
  color:white;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  padding-top: 0.5em;
}

.translationList{
  list-style-type: none;
  color: #969696;
  padding: 0.3em;
}


/*Input */
.inputStyle {
  flex-grow: 2;
  border:none;
  background-color: #EFEFEF ;
  color: #969696;
  font-family: 'Sanchez', serif;
  font-size: large;
}

/*Layered Image*/
.layeredImage{
  margin-top: 0.80em;
  margin-left: 3em;
}

/*Navbar Styling*/
.navbarStyle {
  display: inline-block;
  align-content: center;
  text-align: justify;
  white-space: nowrap;
  height: 86px;
  width: 100%;
  background: #FFC75F;
  border-bottom: solid #E7B355;
}

.navLi {
  display: inline-block;
  white-space: normal;
  list-style-type: none;
  margin: 0 auto;
}

.navbarText{
  margin-left: 1em;
  color: white;
}

.imageNavbar {
  width: 60px;
}

#profileButton{
  background-color: #E7B355;
  font-size: xx-large;
  color: white;
  border: solid white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 0.50em;
  margin-right: 1.5em;
  outline: none;
}

.userName {
  background-color: #E7B355;
  color: white;
  display: inline;
  padding-left: 0.6em;
  padding-right: 1.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 0.6em;
  margin-right: -1em;
}

.pullLeft{
  margin: 0 auto;
  display: inline;
  text-align: justify;
  float: left;
}

.pullRight {
  margin: 0 auto;
  display: inline;
  text-align: justify;
  float: right;
}

.logOutButton {
  font-family: 'Sanchez', serif;
  border-radius: 1em;
  width: fit-content;
  background-color: #E7B355;
  color: white;
  padding: 1em;
  border: solid white;
  margin-top: 2em;
  margin-right: 2em;
}














